/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/

/[Bb]uild/

/*.csproj
/*.sln

/.vs/
/.vscode/
/.idea/

/Assets/Plugins/Editor/JetBrains/
/Assets/Plugins/Editor/JetBrains.meta

/config.user.json

/SAU_Plugins/
