[submodule "Assets/MirrorLite"]
	path = Assets/MirrorLite
	url = https://github.com/GTA-ASM/MirrorLite
[submodule "Assets/UnityStandardAssets"]
	path = Assets/UnityStandardAssets
	url = https://github.com/GTA-ASM/UnityStandardAssets
[submodule "Assets/NavMeshes"]
	path = Assets/NavMeshes
	url = https://github.com/GTA-ASM/NavMeshes
[submodule "Assets/NetworkDiscoveryUnity"]
	path = Assets/NetworkDiscoveryUnity
	url = https://github.com/in0finite/NetworkDiscoveryUnity
[submodule "Assets/UGameCoreUtilities"]
	path = Assets/UGameCoreUtilities
	url = https://github.com/in0finite/UGameCoreUtilities
